body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("../assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#footer {
    height: 120px;
    background-color: #51557E;
    color: white;

}

#navbar {
    background-color: #51557E;
    color: white;
}

#navbar-text {
    font-size: 30px;
}

#aws-logo {
    width: 100px;
}


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


/* CSS for form page*/

.field {
    padding-bottom: 3%;
}

.radio li {
    list-style-type: none;
}

.term-text {
    font-size: 0.7em;
}

#main-form-wrapper {
    background-color: white;
}

#submit {
    height: 100px;
    color: #51557E;
    font-size: 2em;
}

#demo-title {
    padding-bottom: 50px;
}



