/* 115, 100, 87*/


body {
    font-family: 'Dosis', sans-serif;
    color: rgb(115 100 87);
    background-image: url("../assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-control {
    color: rgb(115 100 87);
}

#footer {
    height: 120px;
    background-color: #51557E;
    color: rgb(115 100 87);

}

#navbar {
    background-color: #51557E;
    color: rgb(115 100 87);
}

#navbar-text {
    font-size: 30px;
}

#aws-logo {
    width: 100px;
}


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


/* CSS for form page*/

.field {
    padding-bottom: 3%;
    color: rgb(115 100 87);
}

input::placeholder {
  color: rgb(115 100 87);
}

.radio li {
    list-style-type: none;
    color: rgb(115 100 87);
}

.term-text {
    font-size: 0.7em;
}

#main-form-wrapper {
    background-color: white;
}

#submit {
    height: 100px;
    color: rgb(115 100 87);
    font-size: 2em;
}

#demo-title {
    padding-bottom: 50px;
}



